@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    background-color: blanchedalmond;
}


 .re{
    font-size: 3.5em;
    text-align: center;
    color: #8b0000;
}

 .biografia{
    font-size: 1em;
    text-align: center;
    font-family:'Baskervville', sans-serif;
    width:80%;
    margin: 0 auto;
    color: #696969}

.font{
    font-size: 2em;
    text-align: center;
    color: darkred
}

.fotos {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.foto {
    width: 15%;
    height: auto;
}