body{
    background-color: blanchedalmond;
}

 .re{
    font-size: 3.5em;
    text-align: center;
    color: darkred
}

.sabrina-1 {
    width: 15%;
    height: auto;
    display: block;
    margin-left: 350px;
    margin-right: auto;
    object-fit: cover;
}

.sabrina-2 {
    width: 15%;
    height: auto;
    display: block;
    margin-top: -227.5px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
  }
  
