@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background-color: #f0dcca;
    margin: 0;
}


 .re{
    font-size: 3.5em;
    text-align: center;
    color: #732210;
}


.ree{
    font-size: 3.5em;
    text-align: center;
    color: #732210;
    margin-top: -8px;
}

.letra1{
    font-size: 1.3em;
    text-align: center;
    color: #696969;
    margin-top: -20px
}  

 .biografia{
    font-size: 1.2em;
    text-align: center;
    font-style: regular;
    font-family:'EB Garamond', sans-serif;
    width:80%;
    margin: 0 auto;
    color: #696969
}


.font{
    font-size: 2.5em;
    text-align: center;
    color: #732210
}

.sobre{
        font-size: 2.5em;
        text-align: center;
        color: #732210
}

.faixas{
    font-size: 2.5em;
    text-align: center;
    color: #732210;
    justify-content: left;
}


nav {
    background-color: #732210; 
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px; 
}

nav a {
    color: white;
    text-decoration: none; 
    margin: 0 15px; 
}

nav a:hover { 
    color: #696969; 
}

.bonus{
    font-size: 2.5em;
    text-align: center;
    color: #732210;
}

.completo{
    font-size: 2.5em;
    text-align: center;
    color: #732210;
    margin-top: 20px;
}

.tracklist{
    font-size: 1.5em;
    text-align: center;
    color: #696969;
    margin-top: -30px;
}

.musicas{
    font-size: 1.5em;
    text-align: center;
    color: #696969;
    margin-top: -30px;
}


.fotos {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.foto {
    width: 25%;
    height: auto;
}

.fotoss {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}
.foto {
    width: 25%;
    height: auto;
}

.capa {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block; 
}

.sim {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}
.foto {
    width: 20%;
    height: auto;
}

.cover {
    font-size: 1em;
    text-align: center;
    color: #732210;
    margin-top: 20px;
}

.tempo {
    font-size: 1.3em;
    text-align: center;
    color: #732210;
}

.genero{
    font-size: 1.3em;
    text-align: center;
    color: #732210;
    margin-top: 20px;
}

.tipos {
    text-align: center;
    margin-top: -10px;
}

.meses {
    text-align: center;
    margin-top: -10px;

}

.duração {
    font-size: 1.3em;
    text-align: center;
    color: #732210;
    margin-top: 20px;
}

.gravadora {
    font-size: 1.3em;
    text-align: center;
    color: #732210;
    margin-top: 20px;
}

.produtores {
    font-size: 1.3em;
    text-align: center;
    color: #732210;
    margin-top: 20px;
}

.relato{
    font-size: 1.2em;
    text-align: center;
    color: #732210;
}

.relat{
    text-align: center;
    margin-top: -10px;
    color:#732210;
}

.prod {
    text-align: center;
    margin-top: -10px;
}

.grav {
    text-align: center;
    margin-top: -10px;
}

.dur {
    text-align: center;
    margin-top: -10px;
}

.descricao {
    font-size: 1.2em;
    text-align: center;
    font-style: regular;
    font-family:'EB Garamond', sans-serif;
    width:80%;
    margin: 0 auto;
    color: #696969
}

.curiosidades{
    font-size: 1.2em;
    text-align: center;
    font-style: regular;
    font-family:'EB Garamond', sans-serif;
    width:80%;
    margin: 0 auto;
    margin-top: -10px;
    color: #696969;
}

.rodape {
    background-color: #732210;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  .barra {
    width: 100%;
    height: 1px; 
    background-color: #732210;
    transform: scaleY(0.5); 
    transform-origin: top;
}

  